@{
    ViewBag.Title = "Recipe Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Show simple splash screen-->
<app-root>
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>Recipe Admin</h1>
            <img src="~/NGApp/src/assets/images/loading-bars.svg" width="64" height="64" />
        </div>
    </div>
</app-root>
